body {
  margin: 0;
  font-family: 'UTM Avo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  position: relative;
  padding-left: 360px;
}

@media (max-width: 768px) {
  main {
    padding-left: 0;
  }
}

img {
  width: 100%;
  height: 100%;
}